@import './_colors.css';
@import './_scrollbar.css';

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #ffffff;
        color: #213547;
    }

    a:hover {
        background-color: #646cff;
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
